.mainPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app{
    
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 15px;
    border: 1px solid;
    border-radius: 8px;
    gap: 10px;
   
}
.content{
    border: 1px solid;
    border-radius: 8px;
    border-color: gray;
    margin-bottom: 20px;

}